@import 'base';

.container {
  width: 80%;
}
.buttons {
  width: 100%;
}
.button {
  margin-right: 1rem !important;
}
.field {
  margin-left: 4rem;
  margin-right: 4rem;
}
.paper {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
}
.subHeader {
  color: rgba(0, 0, 0, 0.54) !important;
}
