@import 'styles/_base.scss';;

.container {
  width: 80%;
}
.buttons {
  width: 100%;
}
.button {
  margin-right: 1rem !important;
}
.paper {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
}
.subHeader {
  color: rgba(0, 0, 0, 0.54) !important;
}
