@import 'base';
.container {
  @extend .flex-column-center;
  padding-top: 4rem;
  width: 100%;
}
.paper {
  @extend .flex-column;
  padding: 2rem;
  width: 80% !important;
  flex-grow: 1;
}
.section {
  @extend .flex-column-center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
}
