@import 'base';

.container {

}
.item {
  padding: 2rem;
  margin: 1rem;
}
.add {
  margin-bottom: 2rem;
  margin-top: 2rem;
  @extend .flex-row-center;
  width: 100%;
}
.subHeader {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: .9rem !important;
}
