**/coverage/**
**/node_modules/**
dist/**
src/index.html
blueprints/**
src/config.js
functions/dist/**
functions/test/mocha.opts
functions/coverage/**
functions/mochawesome-report/**
docs/.cache/**
docs/public/**
docs/content/**
docs/static/**
cypress/screenshots/**
cypress/videos/**
.nyc_output/**
