# OS
*.log*
**/*.log
.DS_Store
**/.DS_Store

packages/**/lib
packages/**/lib-*

# Main dependencies
**/node_modules

# React App
**/dist
src/config.js

# Functions
functions/etc
functions/dist
functions/.runtimeconfig.json
functions/serviceAccount.json
functions/coverage
functions/mochawesome-report

# Tests
.nyc_output
cypress/videos
cypress/screenshots
cypress/config.json
cypress.env.json
serviceAccount.json


# Docs
docs/public
docs/.gatsby-context.js
docs/.cache/
.intermediate-representation/

