# OS
*.log
**/*.log
.DS_Store
**/.DS_Store

# Main dependencies
**/node_modules

# React App
**/dist
src/config.js

# Functions
functions/etc
functions/dist
functions/.runtimeconfig.json
functions/serviceAccount.json

# Tests
cypress/videos
cypress/screenshots
cypress.env.json
functions/mochawesome-report
