service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /users_public/{userId} {
      allow read;
      allow write: if request.auth.uid == userId;
    }
    match /projects/{projectId} {
      // Only projects you own or collaborate on can be viewed
			allow read: if resource.data.createdBy == request.auth.uid || resource.data.collaborators[request.auth.uid] == true;
      allow write: if request.auth != null;
      match /{allChildren=**} {
			  allow read: if get(/databases/$(database)/documents/projects/$(projectId)).data.createdBy == request.auth.uid || get(/databases/$(database)/documents/projects/$(projectId)).data.collaborators[(request.auth.uid)] == true;
        allow write: if request.auth != null;
      }
    }
    match /migrationTemplates/{templateId} {
      // Only projects you own or collaborate on can be viewed
      allow read: if resource.data.public == true || resource.data.createdBy == request.auth.uid;
      allow write: if request.auth != null;
      match /{allChildren=**} {
        allow read: if resource.data.public == true || resource.data.createdBy == request.auth.uid;
        allow write: if request.auth != null;
      }
    }
    match /actionTemplates/{templateId} {
      // Only projects you own or collaborate on can be viewed
      allow read: if resource.data.public == true || resource.data.createdBy == request.auth.uid;
      allow write: if request.auth != null;
      match /{allChildren=**} {
        allow read: if resource.data.public == true || resource.data.createdBy == request.auth.uid;
        allow write: if request.auth != null;
      }
    }
  }
}
