service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read;
    }
    match /projects/{docId} {
      // Only projects you own or collaborate on can be viewed
			allow read: if resource.data.createdBy == request.auth.uid || resource.data.collaborators[request.auth.uid] == true;
      allow write: if request.auth != null;
    }
  }
}
