@import 'styles/_base.scss';;
.container {
  @extend .flex-column-center;
  flex-basis: 80%;
  width: 100%;
  margin-bottom: .75rem;
  margin-top: 1rem;
}
.dropzone {
  @extend .flex-column-center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  min-height: 5rem;
  border: 2px dashed grey;
  border-radius: 2px !important;
  padding: 2rem;
  &Title {
    margin-top: .875rem;
    margin-bottom: .875rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    // color: $scorpion;
  }
  &Text {
    font-weight: 300;
    text-align: center;
    font-size: 1.09375rem;
    // color: $scorpion;
  }
  &Text {
    font-weight: 300;
    text-align: center;
    font-size: 1.09375rem;
    margin-right: .25rem;
    // color: $scorpion;
  }
  &.two-rows {
    min-height: 7rem;
    color: red !important;
  }
}

.icon {
  width: 4.625rem !important;
  height: 2.75rem !important;
  &Compact {
    width: 3.75rem;
    height: 2.5rem;
    margin-right: .5rem;
  }
}
