@import 'base';
.container {
  @extend .flex-row-center;
  width: 100%;
  margin-bottom: 2rem;
}
.account {
  width: 120px;
  margin: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.selected {
  border-color: rgba(33, 150, 243, .8) !important;
}
