@import 'base';

.container {
  @extend .flex-column-center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin: .2rem;
}

.inputs {
  @extend .flex-column-center;
  width: 80%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include mobile {
    width: 100%;
  };
}

.submit {
  @extend .flex-column-center;
  width: 30%;
  min-width: 192px;
  margin-top: 1.5rem;
  text-align: center;
}

.fields {
  width: 60%;
}
