@import 'base';

.button {
  margin-left: 2rem;
}
.card {
  margin-bottom: 2rem;
}
.buttons {
  @extend .flex-row;
  margin-bottom: 2rem;
}
.paper {
  padding: 2rem;
}
.or {
  @extend .flex-row-center;
  &Font {
    font-size: 1.3rem !important;
  }
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search {
  @extend .flex-row-center;
}
