@import 'base';

.container {
  // @extend .flex-column-center;
  overflow-y: scroll;
  // margin-bottom: 4rem;
  padding-bottom: 4rem;
}
.button {
  margin-left: 2rem;
}
.buttons {
  @extend .flex-row;
  margin-bottom: 2rem;
}
.or {
  @extend .flex-row-center;
  &Font {
    font-size: 1.3rem !important;
  }
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.search {
  @extend .flex-row-center;
}
.sectionHeader {
  font-size: 1.3rem !important;
}
.progress {
  margin-bottom: 1rem;
}
