@import 'base';

.container {
  @extend .flex-column-center;
  padding: 1rem;
  flex-basis: 80%;
}
.button {
  margin-bottom: 2rem;
}
.tiles {
  @extend .flex-row-center;
  justify-content: space-between;
  width: 70%;
}
