@import 'base';

.container {
}

.body {
  @extend .flex-column-center;
  padding: 3rem;
}
.buttons {
  @extend .flex-row;
  justify-content: flex-end;
  flex-grow: 1;
  width: 100%;
  margin-top: 2rem;
}
