@import 'base';

.container {
}

.body {
  @extend .flex-column;
  align-items: center;
  padding: 3rem;
  min-width: 400px;
}
.serviceAccounts {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 10rem;
}
.buttons {
  @extend .flex-row;
  justify-content: flex-end;
  flex-grow: 1;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}
.inputs {
  margin-bottom: 1rem;
}
