@import 'styles/_base.scss';
.container {
  @extend .flex-column-center;
  padding-top: 4rem;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll !important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch !important;
  @include mobile {
    padding-top: 1rem;
  }
}

.paper {
  @extend .flex-column;
  padding: 4rem;
  width: 80% !important;
  flex-grow: 1;
  margin: 2rem;
  color: $words;
  @include mobile {
    padding: 2.5rem;
  }
}

.header {
  font-size: 3rem;
  font-weight: 300;
  color: $words;
  margin-bottom: 2rem;
  @include mobile {
    font-size: 2rem;
    margin-bottom: .5rem;
  }
}

.getStarted {
  @extend .flex;
  @include mobile {
    justify-content: center;
  }
}

.sections {
  @extend .flex-row-center;
  margin-top: 3rem;
  @include mobile {
    flex-direction: column;
    height: 33rem;
    // min-height: 33rem; // not providing a height does not work on iOS mobile
    // height: 100%; // not providing a height does not work on iOS mobile
    margin-bottom: 3rem;
  }
}

.bottomSection {
  @extend .flex-column;
  margin: 1rem;
  height: 100%;
  max-width: 23rem;
  @include mobile {
    height: 6rem;
  }
}

.section {
  @extend .flex-column;
  margin: 1rem;
  height: 100%;
  max-width: 26rem;
  &Header {
    color: #212121;
    font-size: 1.5rem;
  }
  &Vertical {
    @extend .flex-column;
  }
  @include mobile {
    margin: .25rem;
  }
}
.lower {
  @extend .flex-row-center;
  @include mobile {
    flex-direction: column;
  }
}

.disclaimer {
  @extend .flex-row-center;
  margin-bottom: 4rem;
  text-align: center;
  width: 80% !important;
}
