@import 'base';

.container {

}
.add {
  @extend .flex-row;
  justify-content: flex-end;
  width: 40%;
  @include mobile {
    width: 100%;
  }
}
.originHeader {
  @extend .header;
  font-size: .9rem
}
