.flex {
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
}
.flex-column {
  @extend .flex;
  flex-direction: column;
  &-center {
    @extend .flex;
    flex-direction: column;
    align-items: center;
  }
}
.flex-row {
  @extend .flex;
  flex-direction: row;
  &-center {
    @extend .flex;
    flex-direction: row;
    justify-content: center;
  }
}
.pageContainer {
  padding: 2rem;
  padding-top: 30px;
  overflow-y: scroll;
}

.pageHeader {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 2.25rem !important;
  align-self: flex-start;
  margin-bottom: 2rem !important;
}
.header {
  color: rgba(0, 0, 0, 0.54) !important;
}
