@import 'base';

.container {
  margin-bottom: 3rem;
}

.subHeader {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 1.5rem !important;
  align-self: flex-start;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
