@import 'styles/_base.scss';

.container {
  @extend .flex-column-center;
  margin-bottom: 4rem;
}
.panel {
  @extend .flex-column-center;
  width: 90%;
  padding: 1.5rem;
  &Header {
    color: #212121;
    font-size: 2.75rem;
    font-weight: 300;
  }
}
.empty {
  max-width: 12rem;
}
.paper {
  @extend .flex-column;
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
}
.instances {
  @extend .flex-row-center;
  padding-bottom: 4rem;
}
.errorPage {
  @extend .flex-column-center;
  margin-top: 3rem;
  font-size: 1.8rem;
  width: 80%;
  margin-left: 10%;
}
.errorPaper {
  @extend .flex-column-center;
  padding: 2rem;
  width: 60%;
}
.errorMessage {
  font-size: 1.2rem;
}
