@import 'base';

.container {
  @extend .flex-row-center;
  padding-top: 1rem;
  margin-bottom: 4rem;
}
.panel {
  @extend .flex-column-center;
  width: 90%;
  padding: 1.5rem;
  &Header {
    color: #212121;
    font-size: 2.75rem;
    font-weight: 300;
  }
}
.empty {
  max-width: 12rem;
}
.paper {
  @extend .flex-column;
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
}
.instances {
  @extend .flex-row-center;
  padding-bottom: 4rem;
}
