.article {
  padding: 0 30px 30px;
}

@media only screen and (max-width: 500px) {
  .article {
    padding: 0;
  }
}

.article-footer {
  position: relative;
  margin: 6rem 0 0;
  padding: 3rem 0 0;
  border-top: 1px solid #ebf2f6;
}
