@import 'base';

.container {
  @extend .flex-column;
  width: 70%;
  margin-left: 15%;
  padding-top: 5rem;
  margin-bottom: 4rem;
}
.empty {
  @extend .flex-row-center;
  padding-top: 5rem;
}
.paper {
  @extend .flex-column;
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
}
.instances {
  @extend .flex-row-center;
  padding-bottom: 4rem;
}
