@import 'styles/_base.scss';

.container {

}

.new {
  margin-bottom: 2rem;
}
.sectionHeader {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 1.6rem !important;
  font-weight: 300 !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
