* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #222222cc;
  background-color: #e8e8e8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: rgba(34,34,34,0.8);
}

ul {
  padding-left: 2em;
  margin: 1em 0 0 0;
}