@import 'base';

.container {
  padding: .125rem;
}
.tabs {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  @include mobile {
    width: 95%;
    margin-left: 2.5%;
  };
}
.heading {
  font-size: 1.3rem !important;
}
.inputs {
  @extend .flex-row;
  align-items: center !important;
}
.button {
  margin-left: 2rem;
}
.buttons {
  @extend .flex-row;
  margin-bottom: 2rem;
}
.or {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  &Font {
    font-weight: 300;
    font-size: 1.2rem !important;
  }
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.search {
  @extend .flex-row-center;
}
.sectionHeader {
  font-size: 1.3rem !important;
}
.panel {
  margin: 1rem !important;
  min-width: 270px;
}
.title {
  font-size: 1.2rem !important;
  flex-shrink: 0;
  display: block;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.type {
  color: rgba(0, 0, 0, 0.54) !important;
  display: block;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.field {
  @extend .field;
  width: 80%;
}
.content {
  @extend .flex-row;
  align-items: center !important;
}
