@import 'base';
.container {
  @extend .flex-row-center;
  flex-basis: 60%;
}
.account {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.selected {
  background-color: red !important;
}
