@import 'base';

.container {
  overflow-y: hidden;
  height: 100%;
}
.content {
  overflow-y: scroll;
  height: 100%;
  padding: .5rem;
  padding-bottom: 6rem;
}
.sectionHeader {
  font-size: 1.3rem !important;
}