@import 'base';

.root {
  margin-top: 3rem;
  height: 100%;
}
$distanceWidth: 15rem;
.header {
  @extend .flex-row;
  padding: 0.75rem;
  &Left {
    padding-left: .75rem;
    width: $distanceWidth;
    margin-right: 2rem;
  }
}
.displayName {
  width: $distanceWidth !important;
  margin-right: 2rem !important;
  overflow: hidden !important;
}
.permission {
  margin-left: -.75rem !important;
}
.content {
  width: 100%;
  height: 100%;
}
.roleSelect {
  margin-top: 2.5rem;
  padding-left: 2rem;
  width: 250px;
}
.buttons {
  @extend .flex-row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 3rem;
}
.empty {
  padding: 2rem;
}
