@import 'base';
.container {
  @extend .flex-column-center;
  flex-basis: 80%;
}
.dropzone {
  @extend .flex-column-center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  min-height: 25rem;
  &Active {
    // background-color: $primaryRule;
  }
  &Panel {
    @extend .flex-column-center;
    width: 100%;
    min-height: 25rem;
  }
  &Title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    // color: $scorpion;
  }
  &Text {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    // color: $scorpion;
  }
}

.docs {
  @extend .flex-column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  &Panel {
    @extend .flex-column-center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 3px !important;
  }
  &Title {
    width: 100%;
    font-weight: 400;
    font-size: 1.25rem;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    // color: $scorpion;
  }
  &Empty {
    @extend .flex-row;
    width: 100%;
    font-size: 1.25rem;
    margin-left: 2rem;
    // color: $scorpion;
    font-weight: 300;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.doc {
  @extend .flex-row;
  align-items: center;
  width: 100%;
  min-height: 5rem;
  &Name {
    min-width: 5rem;
    text-align: left;
    color: $primary !important;
  }
}
