@import 'styles/_base.scss';;

.container {
  @extend .flex-column-center;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  font-weight: 400;
  padding-top: 1.5rem;
  @include mobile {
    padding-top: 3rem;
  }
}
.panel {
  @extend .flex-column-center;
  justify-content: center;
  padding: 1.25rem;
  width: 35%;
  @include desktop {
    min-width: 250px;
    min-height: 270px;
  }
  @include mobile {
    width: 75%;
    padding: 1rem;
  }
}
.instructions {
  @extend .flex-row-center;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  color: $words;
  font-weight: 300;
  width: 75%;
  margin-top: 3rem;
  @include mobile {
    width: 100%;
  }
}
.or {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1.3rem;
}
.signup {
  @extend .flex-column-center;
  justify-content: center;
  margin-top: 2rem;
  &Link {
    // color: $linkBlue;
    font-size: 1.2rem;
    &:hover {
      // color: $materialBlue;
    }
  }
  &Label {
    font-size: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: $mediumGray;
    font-weight: 400;
  }
}
.providers {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
