name: Deploy App

on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - master
      - stage

jobs:
  build:
    name: Verify + Build + Deploy App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-main-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies
        env:
          CYPRESS_INSTALL_BINARY: 0 # Skip installing of cypress
        run: |
          yarn install --frozen-lockfile
          yarn --cwd functions install --frozen-lockfile

      - name: Archive Error Logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: error-logs
          path: yarn-error.log

      - name: Build App Config
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          yarn build:config

      - name: Verify
        run: |
          yarn lint

      - name: Run Unit Tests
        run: |
          yarn --cwd functions test:cov

      - name: Build App
        run: |
          yarn build

      - name: Build Functions
        run: |
          yarn --cwd functions build

      - name: Archive Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-build
          path: build

      - name: Archive Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: functions-build
          path: functions/dist

      - name: Deploy to Firebase
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          GITHUB_HEAD_REF: ${{ github.head_ref }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          export FIREBASE_TARGETS=hosting:app$(if [ "${GITHUB_REF##*/}" = "stage" ]; then echo "Stage"; fi;),functions,storage,database,firestore
          $(yarn bin)/firebase-ci deploy --only $FIREBASE_TARGETS

      - name: Archive Debug Log
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: firebase-debug
          path: firebase-debug.log

  ui-tests:
    name: UI Test Hosted App
    needs: build
    runs-on: ubuntu-16.04
    if: github.ref == 'refs/heads/stage'
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     # Run multiple copies of the current job in parallel
    #     containers: [1, 2, 3]
    steps:
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache npm dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Get Library Versions For Binary Caching
        id: dep-versions
        run: |
          echo "::set-output name=cypress::$(cat package.json | jq -r .devDependencies.cypress)"

      - name: Cache Cypress Binary
        uses: actions/cache@v1
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ steps.dep-versions.outputs.cypress }}

      # Install is run separately from test so that dependencies are available
      # for other steps like Get Project Info and build test environment config
      - name: Install Dependencies
        run: |
          yarn install --frozen-lockfile
          $(yarn bin)/cypress verify

      - name: Archive Error Logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: test-error-logs
          path: yarn-error.log

      # Cypress action manages installing/caching npm dependencies and Cypress binary.
      # Because of "record" and "parallel" parameters these containers will load
      # balance all found tests among themselves. The step tests a version of the app
      # which is running locally in the container on port 3000
      - name: Cypress Run
        uses: cypress-io/github-action@v1
        with:
          # we have already installed all dependencies above
          install: false
          browser: chrome
          tag: hosted
          # parallel: true
          record: true
          headless: true
          group: 'UI Tests'
        env:
          # TODO: Look into if this can be moved to an npm script
          TZ: America/Los_Angeles
          CI: true
          # Pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_KEY }}
          GITHUB_HEAD_REF: ${{ github.head_ref }}
          GITHUB_REF: ${{ github.ref }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          GCLOUD_PROJECT: fireadmin-stage
          SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
          CYPRESS_TEST_UID: ${{ secrets.TEST_UID }}
          CYPRESS_BASE_URL: https://fireadmin-stage.firebaseapp.com
