name: Verify App

on: 
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - single-function

env:
  GCLOUD_PROJECT: fireadmin-stage

jobs:
  verify-build:
    name: Verify + Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Setup Google CLI
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          project_id: ${{ env.GCLOUD_PROJECT }}
          service_account_key: ${{ secrets.SERVICE_ACCOUNT }}
          export_default_credentials: true

      - name: Deploy Only Changed Functions
        run: |
          # App Version
          version=v$(cat package.json | jq .version -r)
          folderSuffix="current"
          cacheFolderPath="functions_deploy_cache/$folderSuffix"
          localFolderPath="$HOME/local-functions-cache"
          # Download cache from Google Cloud Storage
          echo "Starting download"
          echo ""
          mkdir -p $localFolderPath && gsutil -m cp -r gs://$GCLOUD_PROJECT.appspot.com/$cacheFolderPath $localFolderPath/ || noCache="true"
          echo ""
          echo "Finished download"

          if [[ $noCache = "true" ]]
            then
              echo "No cache found, deploying all functions"
              deployCommand="firebase deploy --only functions"
            else
              echo "Downloaded files, diffing for changes..."
              packageChanged=$(diff -Nqr -w -B functions/package.json $localFolderPath/$folderSuffix/package.json)
              indexChanged=$(diff -Nqr -w -B functions/index.js $localFolderPath/$folderSuffix/index.js)
              lockChanged=$(diff -Nqr -w -B functions/yarn.lock $localFolderPath/$folderSuffix/yarn.lock)
              if [[ ! -z $packageChanged || ! -z $indexChanged || ! -z $lockChanged ]]
                then
                  echo "Top level file changed, deploying all functions..."
                  deployCommand="firebase deploy --only functions"
                else
                  echo "Top level files unchanged, checking functions source for changes..."
                  deployCommand=$(diff -Nqr functions/src $localFolderPath/$folderSuffix/src | awk '{print $4}' | cut -d'/' -f2- | ./scripts/onlyChangedFunctions.js)
              fi
          fi

          if [[ ! -z $deployCommand ]]
            then
              echo "Function deploy command $deployCommand"
              echo "Reuploading to cache"
              echo ""
              gsutil -m cp functions/index.js gs://$GCLOUD_PROJECT.appspot.com/$cacheFolderPath/index.js
              gsutil -m cp functions/package.json gs://$GCLOUD_PROJECT.appspot.com/$cacheFolderPath/package.json
              gsutil -m cp functions/yarn.lock gs://$GCLOUD_PROJECT.appspot.com/$cacheFolderPath/yarn.lock
              gsutil -m cp -r functions/src gs://$GCLOUD_PROJECT.appspot.com/$cacheFolderPath/
              echo ""
              echo "Successfully updated cache, exiting"
            else
              echo "No Functions Changed, skipping deploy"
          fi

  #     - name: Get cache settings
  #       id: cache-settings
  #       run: |
  #         echo "::set-output name=dir::$(yarn cache dir)"
  #         echo "::set-output name=firebase-tools::$(yarn list -s --depth=0 --pattern firebase-tools | tail -n 1 | sed 's/.*@//g')"

  #     - name: Get Yarn Cache
  #       id: yarn-cache
  #       run: echo "::set-output name=dir::$(yarn cache dir)"

  #     - name: Cache NPM Dependencies
  #       uses: actions/cache@v1
  #       with:
  #         path: ${{ steps.yarn-cache.outputs.dir }}
  #         key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

  #     - name: Install Dependencies
  #       env:
  #         CYPRESS_INSTALL_BINARY: 0 # Skip installing of cypress
  #       run: |
  #         yarn install --frozen-lockfile
  #         yarn --cwd functions install --frozen-lockfile

  #     - name: Archive Error Logs
  #       uses: actions/upload-artifact@v2
  #       if: failure()
  #       with:
  #         name: error-logs
  #         path: yarn-error.log

  #     - name: Build App Config
  #       env:
  #         GITHUB_HEAD_REF: ${{ github.head_ref }}
  #         GITHUB_REF: ${{ github.ref }}
  #       run: yarn build:config

  #     - name: Verify Functions
  #       # NOTE: Project name is hardcoded since emulators are being used
  #       run: |
  #         yarn functions:build
  #         yarn --cwd functions test:cov || echo "::warning::Functions unit tests failed"

  #     - name: Upload Functions Test Coverage
  #       run: |
  #         bash <(curl -s https://codecov.io/bash) -f functions/coverage/lcov.info || 'Test Coverage Upload Failed, continuing'

  #     - name: Verify
  #       run: yarn lint

  #     - name: Build App
  #       run: |
  #         export REACT_APP_FIREBASE_DATABASE_EMULATOR_HOST="localhost:$(cat firebase.json | jq .emulators.database.port)"
  #         export REACT_APP_FIRESTORE_EMULATOR_HOST="localhost:$(cat firebase.json | jq .emulators.firestore.port)"
  #         yarn build

  #     - name: Archive Build Artifact
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: build
  #         path: build

  # ui-tests:
  #   name: UI Test Emulated App
  #   needs: verify-build
  #   runs-on: ubuntu-16.04
  #   strategy:
  #     # Keep all in-progress jobs running if any matrix job fails. Needed to prevent
  #     # the Cypress Dashboard from being stuck in "in progress" state since not all tests run.
  #     # See the following for more details:
  #     # * Cypress Action Issue: https://github.com/cypress-io/github-action/issues/48
  #     # * Docs for fail-fast: https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast
  #     fail-fast: false
  #     matrix:
  #       # Run multiple copies of the current job in parallel
  #       containers: [1, 2, 3, 4]
  #   steps:
  #     - name: Setup Node
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: 10

  #     - name: Checkout Repo
  #       uses: actions/checkout@v2

  #     - name: Get Cache Settings
  #       id: cache-settings
  #       run: |
  #         echo "::set-output name=firebase-tools::$(yarn list -s --depth=0 --pattern firebase-tools | tail -n 1 | sed 's/.*@//g')"

  #     - name: Cache Firebase Emulator Binaries
  #       uses: actions/cache@v1
  #       with:
  #         path: ~/.cache/firebase/emulators
  #         key: ${{ runner.os }}-firebase-${{ steps.cache-settings.outputs.firebase-tools }}

  #     - name: Set Test Environment Settings
  #       id: emulator-settings
  #       env:
  #         GITHUB_HEAD_REF: ${{ github.head_ref }}
  #         GITHUB_REF: ${{ github.ref }}
  #       run: |
  #         export GIT_BRANCH=${GITHUB_REF##*/}
  #         export GCLOUD_PROJECT=$(cat .firebaserc | jq -r --arg GIT_BRANCH "$GIT_BRANCH" '.projects[$GIT_BRANCH] // .projects.master')
  #         echo "::set-env name=GCLOUD_PROJECT::$GCLOUD_PROJECT"
  #         echo "Environment set for branch: $GIT_BRANCH and project: $GCLOUD_PROJECT"
  #         echo "Setting emulator settings to environment..."
  #         echo "::set-env name=FIREBASE_DATABASE_EMULATOR_HOST::localhost:$(cat firebase.json | jq .emulators.database.port)"
  #         echo "::set-env name=FIRESTORE_EMULATOR_HOST::localhost:$(cat firebase.json | jq .emulators.firestore.port)"
  #         echo "::set-env name=CYPRESS_BASE_URL::http://localhost:$(cat package.json | jq .config.port)"
  #         echo "Generating Service Account File..."
  #         echo "$(echo $SERVICE_ACCOUNT | jq .)" > $HOME/serviceAccount.json
  #         echo "::set-env name=GOOGLE_APPLICATION_CREDENTIALS::$HOME/serviceAccount.json"

  #     - name: Download Build Artifact
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: build
  #         path: build

  #     # Cypress action manages installing/caching npm dependencies and Cypress binary.
  #     # Because of "record" and "parallel" parameters these containers will load
  #     # balance all found tests among themselves. The step tests a version of the app
  #     # which is running locally in the container on port 3000
  #     - name: Cypress Run
  #       uses: cypress-io/github-action@v1
  #       with:
  #         browser: chrome
  #         parallel: true
  #         record: true
  #         headless: true
  #         group: 'UI Integration Tests'
  #         tag: emulated
  #         start: yarn emulate:all --project ${{ env.GCLOUD_PROJECT }}
  #         wait-on: ${{ env.CYPRESS_BASE_URL }}
  #         wait-on-timeout: 120
  #       env:
  #         TZ: America/Los_Angeles
  #         CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_KEY }}
  #         GITHUB_HEAD_REF: ${{ github.head_ref }}
  #         GITHUB_REF: ${{ github.ref }}
  #         FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
  #         SERVICE_ACCOUNT: ${{ secrets.SERVICE_ACCOUNT }}
  #         CYPRESS_TEST_UID: ${{ secrets.TEST_UID }}